.DS_Store
**/out
.project
.classpath
.settings/
target/
**/bin/
**/gen/
**/res/**/acra.xml
local.properties
.metadata
public-transport-enabler/enabler/src/de/schildbach/pte/SadProvider.java
**/build/**
*.iml
